name: Context Demo

on: 
    push:
    workflow_dispatch:

jobs:
    analysis:
        name: Erste Analyse
        runs-on: ubuntu-latest
        outputs:
          secret-message: ${{ steps.getSecretMessage.outputs.message }}

        steps:
           - name: Zeige unser Geheimnis! Muahahahahaha
             run: | 
                echo "Geheimnis lautet: ${{ toJson(secrets.MY_SECRET) }}"

           - name: Secret auf Datev prüfen
             env:
               GEHEIM: ${{ secrets.MY_SECRET }}
             if: env.GEHEIM == 'I love Datev!'
             run: echo "Viel liebe für Datev!"

           - name: Zeige GitHub Kontext
             run: echo '${{ toJson(github) }}'

           - name: Zeige Runner Kontext
             run: echo '${{ toJson(runner) }}'
             
           - name: Zeige Steps Kontext
             run: echo '${{ toJson(steps) }}'

           - name: Step Message schreiben
             id: getSecretMessage
             run: echo "message=Wuhuu!" >> "$GITHUB_OUTPUT" 

           - name: Zeige Steps Kontext
             run: echo '${{ toJson(steps) }}'

    job2:
        name: Zeige Werte aus Job 1 (Analysis)
        runs-on: ubuntu-latest
        needs: analysis

        steps:
          - name: Outputs anzeigen
            run: |
             echo "Geheime Message aus Job 1: ${{ needs.analysis.outputs.secret-message }}"
