name: Context Demo

on: 
    push:
    workflow_dispatch:

jobs:
    analysis:
        name: Erste Analyse
        runs-on: ubuntu-latest

        steps:
           - name: Zeige GitHub Kontext
             run: echo '${{ toJson(github) }}'

           - name: Zeige Runner Kontext
             run: echo '${{ toJson(runner) }}'
             
           - name: Zeige Steps Kontext
             run: echo '${{ toJson(steps) }}'
             
           - name: Step Message schreiben
             id: getSecretMessage
             run: echo "message=Wuhuu!" >> "$GITHUB_OUTPUT" 

           - name: Zeige Steps Kontext
             run: echo '${{ toJson(steps) }}'