# Workflow konfiguration (Metadaten)
name: Hello World
description: Das ist nur ein Hello World Beispiel
env:
  GLOBAL_MESSAGE: "Hallo aus dem Workflow (Global)"

# Events
on: push

# Jobs
jobs:
    say-hello:
        name: Begrüße Teilnehmer
        runs-on: ubuntu-latest
        env:
          JOB_MESSAGE: "Hallo aus dem Say-Hello Job"

        steps:
            - name: Ausgabe global und Job
              run: |
                echo "GLOBAL_MESSAGE: $GLOBAL_MESSAGE"
                echo "JOB_MESSAGE: $JOB_MESSAGE"

            - name: Aktuelles Verzeichnis ansehen
              env:
                STEP_MESSAGE: "Message aus dem Step"
              run: pwd && ls -al && echo $STEP_MESSAGE
              
            - name: Projektdateien laden
              uses: actions/checkout@v4
              
            - name: Aktuelles Verzeichnis ansehen
              run: pwd && ls -al && echo $STEP_MESSAGE
    
    say-goodbye:
        name: Abschied
        runs-on: ubuntu-latest
        needs: say-hello

        steps:
            - name: Ausgabe global und Job
              run: |
                echo "GLOBAL_MESSAGE: $GLOBAL_MESSAGE"
                echo "JOB_MESSAGE: $JOB_MESSAGE"

            - name: Aktuelles Verzeichnis ansehen
              run: pwd && ls -al
            
            - name: Abschied ausgabe
              run: echo "Bye bye"